body, html {
  margin: 0;
  overflow-x: hidden;
}


.hero {
  display: grid;
  height: 100vh;
  background: lightblue;
  position: relative;
  grid-template-columns: auto auto auto;
}

.cnavbar {
  width: 100%;
  padding: -15px;
  position:sticky;
  font-family: sans-serif;
  z-index: 10;
  top: 0px;
  margin-top: -50px;
  mix-blend-mode: exclusion;
}

.cnavbar nav {
  width: 80%;
  margin: 0 auto;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

nav ul li a:hover {
  background: #575757;
  filter: invert();
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #575757;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.contact a {
  color:yellow;
}




.content {
  padding-block: 20px;
  height:100vh;
  background-color: wheat;
  position: relative;
}

section {
  background-color: green;
  padding: 50px 0;
  border-bottom: 1px solid #ccc;
}

footer {
  background-color: white;
  padding:15px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 67px;
  color: #000000;


}








.indicators {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.indicators button {
  padding:15px;
  font-size: 2rem;
  color:white;
  outline: 4px solid white;
  font-family:'Josefin Sans';
}


button.illustration {
  background-color:  #00000065;
  background-image: url("../img/nova.jpg");
  background-blend-mode: multiply;
  background-size: cover;
}

button.editing {
  background-color:  #00000065;
  background-image: url("../img/aster.gif");
  background-size: cover;
  background-blend-mode: multiply;
}

button.webdesign {
  background-color:  #00000065;
  background-image: url("../img/webdes.png");
  background-size: cover;
  background-blend-mode: multiply;
}


#portfoliocarousel {
  display: flex;
  z-index: 5;

}

.carousel-inner {
 height: 70vh !important;
 width: 50vw !important;
  background-color: red;
}

.carousel-inner img {
  height: 100vh;
  object-fit: cover;
}

.carousel-caption {
  position: absolute !important;
  width: inherit;
text-align: right;
  bottom:0 !important;
  h5 {
      font-weight: bolder;
  }
}

.carousel-item {
  position:static !important;
}


.carousel-bg .carousel-inner {
  background-color: green;
}

.carousel-bg #portfoliocarouselbg {
  position: absolute;
  z-index: 1 !important;
  height: 100vh;
}

#portfolio {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  z-index: 1;
  pointer-events: none;
}
.carousel-inner, .carousel-caption {
  position: relative;
  z-index: 2;
}

.portfolio-dark-container {

  background: rgba(0, 0, 0, 0.48);
  box-shadow: 0px 4px 26.9px #FFFFFF;
  backdrop-filter: blur(3.4px);
  z-index: 2;
  position: absolute;
  height:90vh;
  width: 100vw;
  margin: 0;
}

.carousel-item img {
  height: inherit;
  object-fit: cover;

}


.icons {
  position: absolute;
  background-color: red;
}